<div class="container py-5">

  <h1 class="mb-5 text-center">Tipos de cambios</h1>

  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">moneda origen</th>
      <th scope="col">moneda final</th>
      <th scope="col">tasa</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>PEN</td>
      <td>USD</td>
      <td>3.14</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>PEN</td>
      <td>EUR</td>
      <td>3.45</td>
    </tr>
    </tbody>
  </table>

</div>

<div class="container py-5">

  <form class="mx-auto" style="max-width: 25rem;" #form="ngForm" >

    <h1 class="mb-5 text-center">Consultar cambio</h1>

    <div class="mb-3">
      <label for="email2">Monto Inicial</label>
      <input id="email2" name="email" type="email" class="form-control" >
    </div>

    <div class="mb-3">
      <label for="email">Moneda Origen</label>
      <input id="email" name="email" type="email" class="form-control" >
    </div>

    <div class="mb-3">
      <label for="password">Moneda destino</label>
      <input id="password" name="password" type="password" class="form-control" >
    </div>






    <div class="d-grid">
      <button class="btn btn-lg btn-primary">Convertir</button>
    </div>


    <div class="mb-3">
      <label for="password2">Monto final</label>
      <input id="password2" name="password" type="password" class="form-control" >
    </div>
  </form>

</div>
